<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship game</title>
    <link rel='stylesheet' href='../css/battle.css' type='text/css' >
    <script src ='../js/battle.js' defer></script>
</head>
<body>
    <h1 align='center'>Battle it out!</h1>
    <div id='start'><button class='button' onclick='tabular()'>Start game</button></div>
    <div id = 'starting'></div>
    <div id = 'tab'></div>
    <div class='divider'>*********************************</div>
    <div id = 'tab1'></div>
    <div id = 'ready'></div>
    
</body>
</html>